
.radio {
	border-radius: 3px;
}

.radio input {
	width: 33.3%;
	height: 100%;
	appearance: none;
	cursor: pointer;
	border-radius: 2px;
	background: white;
	color: black;
	font-size: 14px;
  padding: 10px;
  border: 1px solid rgb(230, 230, 230);
}

.radio input:checked {
	background: #d6ecfb;
	color: black;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
