.link {
  cursor: pointer;
  margin-right: 1rem;
}

.link:hover {
  color: red;
  cursor: pointer;
  text-decoration: none;
}

.choosen {
  cursor: pointer;
  color: black;
  background-color: rgb(255, 213, 96);
  border-radius: 2px;
  text-decoration: none;
  margin-right: 1rem;
}

.choosen:hover {
  color: black;
}