.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

.container:first-child {
  padding-top: 0; 
}

input.checkbox {
  width: 20px;
  height: 20px;
}

.label {
  width: 100%;
}